.region {
  margin-top: 30px;
  .btn-default {
    width:80px;
    height:50px;
  }

  .image {
    padding:20px;
  }
  img {
    width:250px;
    height:200px;
  }

  .info-blog {
    p {
      color : red;
    }
  }
  }
